In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("company_banktrup.csv")
df.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [ ]:
df.shape

(3753, 96)

In [ ]:
df.isnull().sum()

Bankrupt?                                                   0
 ROA(C) before interest and depreciation before interest    0
 ROA(A) before interest and % after tax                     1
 ROA(B) before interest and depreciation after tax          1
 Operating Gross Margin                                     1
                                                           ..
 Liability to Equity                                        1
 Degree of Financial Leverage (DFL)                         1
 Interest Coverage Ratio (Interest expense to EBIT)         1
 Net Income Flag                                            1
 Equity to Liability                                        1
Length: 96, dtype: int64

In [ ]:
df.isnull().any()

Bankrupt?                                                   False
 ROA(C) before interest and depreciation before interest    False
 ROA(A) before interest and % after tax                      True
 ROA(B) before interest and depreciation after tax           True
 Operating Gross Margin                                      True
                                                            ...
 Liability to Equity                                         True
 Degree of Financial Leverage (DFL)                          True
 Interest Coverage Ratio (Interest expense to EBIT)          True
 Net Income Flag                                             True
 Equity to Liability                                         True
Length: 96, dtype: bool

In [ ]:
num_of_duplicates = df.duplicated().sum()
num_of_duplicates

0

In [ ]:
df["Bankrupt?"].nunique()
df["Bankrupt?"].unique()

array([1, 0])

In [ ]:
df["Bankrupt?"].value_counts()

Bankrupt?
0    3576
1     177
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3753 entries, 0 to 3752
Data columns (total 96 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Bankrupt?                                                 3753 non-null   int64
 1    ROA(C) before interest and depreciation before interest  3753 non-null   float64
 2    ROA(A) before interest and % after tax                   3752 non-null   float64
 3    ROA(B) before interest and depreciation after tax        3752 non-null   float64
 4    Operating Gross Margin                                   3752 non-null   float64
 5    Realized Sales Gross Margin                              3752 non-null   float64
 6    Operating Profit Rate                                    3752 non-null   float64
 7    Pre-tax net Interest Rate                                3752 non-null   float64
 8    After-tax net Interest Rate                              3752 non-null   float64
 9    Non-industry income and expenditure/revenue              3752 non-null   float64
 10   Continuous interest rate (after tax)                     3752 non-null   float64
 11   Operating Expense Rate                                   3752 non-null   float64
 12   Research and development expense rate                    3752 non-null   float64
 13   Cash flow rate                                           3752 non-null   float64
 14   Interest-bearing debt interest rate                      3752 non-null   float64
 15   Tax rate (A)                                             3752 non-null   float64
 16   Net Value Per Share (B)                                  3752 non-null   float64
 17   Net Value Per Share (A)                                  3752 non-null   float64
 18   Net Value Per Share (C)                                  3752 non-null   float64
 19   Persistent EPS in the Last Four Seasons                  3752 non-null   float64
 20   Cash Flow Per Share                                      3752 non-null   float64
 21   Revenue Per Share (Yuan ¥)                               3752 non-null   float64
 22   Operating Profit Per Share (Yuan ¥)                      3752 non-null   float64
 23   Per Share Net profit before tax (Yuan ¥)                 3752 non-null   float64
 24   Realized Sales Gross Profit Growth Rate                  3752 non-null   float64
 25   Operating Profit Growth Rate                             3752 non-null   float64
 26   After-tax Net Profit Growth Rate                         3752 non-null   float64
 27   Regular Net Profit Growth Rate                           3752 non-null   float64
 28   Continuous Net Profit Growth Rate                        3752 non-null   float64
 29   Total Asset Growth Rate                                  3752 non-null   float64
 30   Net Value Growth Rate                                    3752 non-null   float64
 31   Total Asset Return Growth Rate Ratio                     3752 non-null   float64
 32   Cash Reinvestment %                                      3752 non-null   float64
 33   Current Ratio                                            3752 non-null   float64
 34   Quick Ratio                                              3752 non-null   float64
 35   Interest Expense Ratio                                   3752 non-null   float64
 36   Total debt/Total net worth                               3752 non-null   float64
 37   Debt ratio %                                             3752 non-null   float64
 38   Net worth/Assets                                         3752 non-null   float64
 39   Long-term fund suitability ratio (A)                     3752 non-null   float64
 40   Borrowing dependency                                     3752 non-null   float64
 41   Contingent liabilities/Net worth                         3752 non-null   float64
 42   Operating profit/Paid-in capital                         3752 non-null   float64
 43   Net profit before tax/Paid-in capital                    3752 non-null   float64
 44   Inventory and accounts receivable/Net value              3752 non-null   float64
 45   Total Asset Turnover                                     3752 non-null   float64
 46   Accounts Receivable Turnover                             3752 non-null   float64
 47   Average Collection Days                                  3752 non-null   float64
 48   Inventory Turnover Rate (times)                          3752 non-null   float64
 49   Fixed Assets Turnover Frequency                          3752 non-null   float64
 50   Net Worth Turnover Rate (times)                          3752 non-null   float64
 51   Revenue per person                                       3752 non-null   float64
 52   Operating profit per person                              3752 non-null   float64
 53   Allocation rate per person                               3752 non-null   float64
 54   Working Capital to Total Assets                          3752 non-null   float64
 55   Quick Assets/Total Assets                                3752 non-null   float64
 56   Current Assets/Total Assets                              3752 non-null   float64
 57   Cash/Total Assets                                        3752 non-null   float64
 58   Quick Assets/Current Liability                           3752 non-null   float64
 59   Cash/Current Liability                                   3752 non-null   float64
 60   Current Liability to Assets                              3752 non-null   float64
 61   Operating Funds to Liability                             3752 non-null   float64
 62   Inventory/Working Capital                                3752 non-null   float64
 63   Inventory/Current Liability                              3752 non-null   float64
 64   Current Liabilities/Liability                            3752 non-null   float64
 65   Working Capital/Equity                                   3752 non-null   float64
 66   Current Liabilities/Equity                               3752 non-null   float64
 67   Long-term Liability to Current Assets                    3752 non-null   float64
 68   Retained Earnings to Total Assets                        3752 non-null   float64
 69   Total income/Total expense                               3752 non-null   float64
 70   Total expense/Assets                                     3752 non-null   float64
 71   Current Asset Turnover Rate                              3752 non-null   float64
 72   Quick Asset Turnover Rate                                3752 non-null   float64
 73   Working capitcal Turnover Rate                           3752 non-null   float64
 74   Cash Turnover Rate                                       3752 non-null   float64
 75   Cash Flow to Sales                                       3752 non-null   float64
 76   Fixed Assets to Assets                                   3752 non-null   float64
 77   Current Liability to Liability                           3752 non-null   float64
 78   Current Liability to Equity                              3752 non-null   float64
 79   Equity to Long-term Liability                            3752 non-null   float64
 80   Cash Flow to Total Assets                                3752 non-null   float64
 81   Cash Flow to Liability                                   3752 non-null   float64
 82   CFO to Assets                                            3752 non-null   float64
 83   Cash Flow to Equity                                      3752 non-null   float64
 84   Current Liability to Current Assets                      3752 non-null   float64
 85   Liability-Assets Flag                                    3752 non-null   float64
 86   Net Income to Total Assets                               3752 non-null   float64
 87   Total assets to GNP price                                3752 non-null   float64
 88   No-credit Interval                                       3752 non-null   float64
 89   Gross Profit to Sales                                    3752 non-null   float64
 90   Net Income to Stockholder's Equity                       3752 non-null   float64
 91   Liability to Equity                                      3752 non-null   float64
 92   Degree of Financial Leverage (DFL)                       3752 non-null   float64
 93   Interest Coverage Ratio (Interest expense to EBIT)       3752 non-null   float64
 94   Net Income Flag                                          3752 non-null   float64
 95   Equity to Liability                                      3752 non-null   float64
dtypes: float64(95), int64(1)
memory usage: 2.7 MB

In [35]:
low_varience_cols = []
for col in df.columns:
  if df[col].var() == 0:
    low_varience_cols.append(col)
print(low_varience_cols)

[' Net Income Flag']

In [39]:
drop_cols = low_varience_cols + ["Bankrupt?"]
y = df["Bankrupt?"]
X = df.drop(drop_cols, axis=1)
df.shape

(6819, 96)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [42]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5455, 94)
(1364, 94)
(5455,)
(1364,)

In [47]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [48]:
from sklearn.linear_model import LogisticRegression

log_reg_model = LogisticRegression(random_state=42, max_iter=300).fit(X_train_scaled, y_train)

In [53]:
y_pred_lr = log_reg_model.predict(X_test_scaled)

from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix, classification_report
print(f"accuracy: {accuracy_score( y_test, y_pred_lr)}")
print(classification_report(y_test, y_pred_lr))

accuracy: 0.9648093841642229
              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1313
           1       0.58      0.22      0.31        51

    accuracy                           0.96      1364
   macro avg       0.77      0.60      0.65      1364
weighted avg       0.96      0.96      0.96      1364